/***********************************************

 Autores: Integrante 1 - Integrante 2

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/
:root {
    --color-primario: #5b72ff;
    --color-secundario: #573dde;
    --color-terciario: #333755;
    --color-background: #e2e6e7;
    --color-texto: #322f3c;
}

::selection {
    background-color: var(--color-secundario);
    color:white;
}



h2, h3, a {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1.6rem;
    font-weight: normal;
}

h2::after {
    /* separador */
    content:"";
    background-color: var(--color-secundario);
    display: block; /* en la linea pero baja una */
    width:100px;
    height: 4px;
    margin: 5px 5px 5px 0px;
    
}


h3 {
    font-size: 1.2rem;
}

p {
    font-weight: lighter;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #ffffff;
    color: var(--color-secundario);
  }


/*ESTLO DEL BODY */
body {
    display: flex;
    flex-wrap:wrap;
    background-color: var(--color-background);
  }

/* ESTILOS DE CABECERA PRINCIPAL*/
.main-header{
    /*background-color: blue;*/
    padding: 1.1%;
    margin-bottom: 2px;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center
}
.main-header img{
    height: 100%;
    /*posisiono la imagen sobre todo y lo corro 300px */
    position: absolute;
    left: 300px;
    width: 60px;
    height: auto;
}

/* icono notificaciones */
.notifications {
    color: var(--color-background)
}

.material-icons-outlined.notification-icon:hover {
    animation: sacudir 2s infinite;
}

.notifications .material-icons-outlined {
    font-size: 34px;
}
/* fin icono notificaciones */


/* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu{
    flex-shrink: 1;
    max-width: 220px; /* 175 px desp */
    min-width: 170px;
    padding: 5px 0px 5px 5px;
    color: var(--color-background);
    background-color: var(--color-primario);   
}

.main-menu .menu-group {
    display: flex;
    flex-direction: column;
}

.menu-group > h2 {
padding-top: 10px;
padding-left:10px;
}

.menu-group > h2::after {
    background-color: var(--color-background);
    height: 1px;
    width: 200px;
}

        /* botones del menu izquiedo */
        .menu-group > a {
            margin: 5px 0px 5px 5px;
            text-align: left;
            display: inline-block;
            padding: 10px 20px;
            background-color: var(--color-primario);
            color: var(--color-background);
            text-decoration: none;
            border: none;
            border-radius: 4px 0px 0px 4px;
            transition: background-color 0.3s ease;
        }

        a > span {
            vertical-align: middle;
            padding-right: 10px;
        }

        .menu-group > a:hover {
            background-color: var(--color-background);
            color: var(--color-texto)
        }
        /* Fin botones del menu izquiedo */

/* FIN ESTILOS DE BARRA DE NAVEGACIÓN */



main {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    min-width: 170px;
}

main section{
    padding: 3px;
    background-color: var(--color-background);
}

/* ofertas */
.exclusive-offers {
    display: grid;
    grid-template-rows: auto 1fr; /*la primer fila al contenido, la segunda el resto*/
    gap: 15px; /*espacio entre columnas*/
    padding-bottom: 20px;
}
.exclusive-offers>h2 {
    grid-column: 1 / span 3;
  }


.art-offer {
    max-width: 530px; /* Ancho 218 */
    max-height: 550px; /* Alto modificar desp 413*/
    padding: 30px;
    text-align: center;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between; /* columna iguala el alto */
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden; /* Ocultar desbordamiento para q no se mueva cuando zoomee la imagen */
    background-color: white;
}

.art-offer ,.art-offer * { /* le aplico a todo la misma transition*/
    transition: all 0.3s ease-in-out;
}

.art-offer:hover {
    /* transform: scale(1.03);*/
    border-style: solid;
    border-inline: inherit;
    border-color: var(--color-secundario);
}

.art-offer:hover header p {
    animation: pulso-rotado 2s ease-in-out infinite;
    color: green;
}

.art-offer:hover >img {
    width: 90%;
}

.art-offer>img {
    width: 70%;
}

/* PLANTILLA DE PRODUCTOS */

.activity {
    flex-basis: 50%; /*se achica al espacio 50%*/
}
    /* tarjetas */
    .cards{
        flex-basis: 50%;/*se achica al espacio*/
    }
    .card{
        margin-top:14px;
        padding: 10px;
        background-color: var(--color-secundario);
        color: var(--color-background);
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    .card:hover {
        transform: translateY(-50px);
    }

/* CONTROL DE STOCK */
.stock-control{
    display: flex;
}
.stock-alert{
    width: 110px;
    height: 60px;
}

/* COTIZACION DOLAR */
.loading{
    width: 100px;
    display: flex;
}
.loading-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightblue;
}
.currency>p{
    display: none;
}

/* ESTILOS DE BOTON AYUDA*/
.contact-support {
    position: fixed;
    padding: 10px;
    bottom: 20px;
    left: 80%;
    border-radius: 20px;
    background-color: var(--color-primario);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: var(--color-background)
    
}

/* FOOTER */
.main-footer{
    width: 100%;
    color: var(--color-background);
    background-color: var(--color-terciario);
    text-align: center;
}

/* ESTILOS DE ...*/

/* Animaciones */
@keyframes sacudir {
    0% { transform: rotate(0deg); }
    /* 20% { transform: rotate(-10deg); }*/
    50% { transform: rotate(15deg); }
    55% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    65% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
  }

  @keyframes pulso-rotado {
    0% { transform: scale(1)}
    50% { transform: scale(1.6) rotate(-15deg)}
    100% { transform: scale(1) rotate(0deg)}
  }
  

  /* propiedades responsive */

  
  @media (max-width: 900px) {
    main {
        padding: 5px;
        text-align: center;
    }
    .main-menu {
        max-width: 190px;
    }

    .menu-group > h2::after {
        background-color: var(--color-background);
        height: 1px;
        width: 150px;
    }

    .exclusive-offers {
        display: flex;
        flex-direction: column;
        margin:auto;
    }

    .art-offer {
        width: 300px; /* Ancho 218 */
        height: 380px; /* Alto modificar desp 413*/
       
        padding: 0px;
        align-items: center;
    }
  }